.item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .item-detail-item {
    align-self: center!important;
  }
  
p {
  margin-top: 50px;
}
