.item-card {
  position: relative;
  text-decoration: none;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.9850315126050421) 15%,
    rgba(61, 131, 208, 1) 46%,
    rgba(90, 90, 201, 0.9346113445378151) 89%
  );
  color: white;
  justify-self: center;
  align-self: end;
  box-shadow: 0 0 0 4px transparent;
  border-radius: 8px;
  width: 300px;
  height: 400px;
  margin: 40px 0px;
  margin-right: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-card_header {
  position: relative;
  padding-top: 50px;
  text-decoration: none;
  line-height: 1.2;
  margin: 1em 0 0;
  text-align: center;
  color: rgb(76, 0, 255);
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item-card_header h2 {
  font-size: clamp(1.1rem, 10vw, 1.5rem);
}

.item-card_img {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.item-card_detail {
  height: 20%;
  display: flex;
  align-items: center;
  background-color: #443bb9;
  margin-top: 15px;
  border-radius: 8px;
  color: white;
  width: 100%;
  justify-content: center;
}


.item-card_detail_content {
  width: 100%;
  text-align: center;
}

.item-card_favicon {
  border-radius: 8px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}
