.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  position: sticky;
}


@media (min-width: 992px) {
    .ml-auto {
      margin: 0 auto !important;
    }
  }

  @media (max-width: 991.98px) {
    .ml-auto {
      margin-left: auto !important;
    }
  }